[Unit]
# https://www.youtube.com/watch?v=PM5exNztbXE
Description=flatpak Automatic Update
Documentation=man:flatpak(1)

[Service]
# Type=oneshot ensures that ExecStartPre completes fully before proceeding to ExecStart.
Type=oneshot
ExecStartPre=/bin/sleep 5m
ExecStartPre=/bin/sh -c 'until ping -c1 perdu.com; do sleep 5; done;'
ExecStart=/usr/bin/flatpak update -y
# Use less CPU and disk resources to upgrade the system to avoid freezing the computer for 2 minutes
# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html
Nice=19
CPUSchedulingPolicy=idle
# CPUSchedulingPriority=1 # This breaks the service
IOSchedulingClass=idle
# IOSchedulingPriority # ignored when IOSchedulingClass=idle, c.f. man ionice

[Install]
WantedBy=multi-user.target
