[Unit]
Description=Setup GRUB Configuration
After=local-fs.target

[Service]
Type=oneshot
# Escape $ as $$ to prevent systemd from interpreting it
ExecStart=/usr/bin/echo 'configfile $${prefix}/user-timeout.cfg' > /boot/grub2/user.cfg
ExecStart=/usr/bin/echo "set timeout=10" > /boot/grub2/user-timeout.cfg

[Install]
WantedBy=multi-user.target
